<!DOCTYPE html>

<html lang="en">

<head>

  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="">

  <!-- Stylesheets -->
  {% compress css %}
  <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet" type="text/css" />
  {% endcompress %}

  <!-- LESS -->
  {% if DEBUG %}
  <link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}less/bootstrap/bootstrap.less" />
  <script src="{{ STATIC_URL }}js/vendor/less.js"></script>
  {% endif %}

  <!-- Javascripts -->
  {% compress js %}
  <script src="{{ STATIC_URL }}js/vendor/jquery.js"></script>
  <script src="{{ STATIC_URL }}js/vendor/bootstrap.js"></script>
  <script src="{{ STATIC_URL }}js/base.js"></script>
  {% endcompress %}

</head>

<body>

  {% block content %}{% endblock %}

</body>

</html>
